<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="!isLoggedIn()">
 
  <div class="navbar-collapse" [ngClass]=" !toggle ? 'collapse': ''" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link"  routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn()">Login</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link"  routerLink="/signup" routerLinkActive="active" *ngIf="!isLoggedIn()">Signup</a>
      </li>
   </ul>
  </div>   
</nav>
<!-- loged in user navigation bar is here-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="isLoggedIn()">
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item dropdown" ngbDropdown >
      <a class="nav-link dropdown-toggle" href="javascript:void(0);" ngbDropdownToggle
      routerLinkActive="active" aria-expanded="false"> Settings</a>
      <div class="dropdown-menu" @fade ngbDropdownMenu>
        <a class="dropdown-item"  routerLink="/settings/manage-session">Manage Session</a>
        <a class="dropdown-item"  routerLinkActive="active" routerLink="/settings/fee-structure">Manage Fee Component</a>
        <a class="dropdown-item"  routerLink="/settings/subjects">Manage Subjects</a>
        <a class="dropdown-item" href="#">Something else here</a>
        
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" (click)='logOut()' *ngIf="isLoggedIn()">Logout</a>
    </li>
  </ul>
  </nav>
