<form [formGroup]="feeStructureForm" novalidate>
    <input class="form-control" formControlName="_id" name="_id" id="_id" type="hidden">
  <fieldset>
    <legend>
      Update Fee Component
    </legend>
    <div *ngIf="errorMsg" class='alert alert-danger'>
      {{ errorMsg }}
    </div>
    <div class='alert alert-success' *ngIf="successMsg">Fee Structure Records Updated Successfully.</div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="item_name">Item Name</label>
        <input class="form-control" formControlName="item_name" name="item_name" id="item_name" type="text">
        <div class="alert alert-danger" *ngIf="feeStructureForm.get('item_name').invalid && feeStructureForm.get('item_name').touched">
          Item Name is required.
        </div>
      </div>
      <div class="col-sm-6">
        <label for="item_amount">Item Amount</label>
        <input class="form-control" formControlName="item_amount" name="item_amount" id="item_amount" type="text">
        <div class="alert alert-danger" *ngIf="feeStructureForm.get('item_amount').invalid && feeStructureForm.get('item_amount').touched">
          Item Amount is required.
        </div>
      </div>

    </div>

    <button type="submit" [disabled]="feeStructureForm.invalid" (click)=" saveFeeStructure()" class="btn btn-primary float-right">Save</button>
  </fieldset>
</form>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Item Amount</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!fee_structure_data">
      <td colspan="4">
        <div class="alert alert-warning">Data not found.</div>
      </td>
    </tr>
    <tr *ngFor="let feeStru of fee_structure_data | paginate: { itemsPerPage: 5, currentPage: p }">
      <td>{{ feeStru.item_name }}</td>
      <td>{{ feeStru.item_amount }}</td>
      <td>
      <a (click)='getFeeStructureById(feeStru)'>
          <i class="fa fa-pencil text-danger"></i>
      </a>

      <a (click)='deleteFeeStructureById(feeStru)'>
        <i class="fa fa-trash-o text-danger"></i>
    </a>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event" *ngIf="fee_structure_data"></pagination-controls>